<%= form_with model: @book, local:true do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :name %>
  <h4>感想</h4>
  <%= f.text_area :coption %>

  <div class="field">
    <%= f.label"タグ (,で区切ると複数タグ登録できます)" %>
    <%= f.text_field :tag_name,value: @tag_list,class:"form-control"%>
  </div>

　<div class="actions" style="margin:20px 0;">
    <%= f.submit "投稿",class:"btn btn-outline-primary btn-block" %>
  </div>
  <% end %>