


   <!--タグ-->
  <% @book_tags.each do |tag| %>
  <%= link_to tag.name,search_tag_path(tag_id: tag.id)%><%="(#{tag.books.count})" %>
  <% end %>

<div>
  <p>タイトル：<%= @book.name %></p>
  <p>感想：<%= @book.coption %></p>
  <p>名前：<%= @book.user.name %></p>
  <p>投稿日：<%= @book.created_at.strftime('%Y/%m/%d') %></p>
   <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>
